@charset "utf-8";

body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #f5f3eb;
}
h2 {
	color: #442220;
	font-size: 18px;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #442220;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
p {
	line-height: 160%
}
a:link {
	color: #6aa4d6;
}
a:visited {
	color: #6aa4d6;
}
a:hovor {
	color: #4f7697;
}
a:active {
	color: #aed3f2;
}
h1 {
	margin: 30px 0 30px 0;
	padding: 0 0 0 0;
	line-height: 0;
	text-align: center;
}
img {
	border-style: none;
}
#nav li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}
#nav {
	margin: 0 0 0 0;
	padding: 15px 30px 10px 30px;
	background-image: url(../images/menu-bg.png);
}
#nav li a:link {
	color: #f5f3ed;
	text-decoration: none;
}
#nav li a:visited {
	color: #f5f3ed;
	text-decoration: none;
}
#nav li a:hovor {
	color: #e4dbb9;
	text-decoration: none;
}
#nav li a:active {
	color: #ffffff;
	text-decoration: none;
}
#footer {
	background-image: url(../images/footer-bg.png);
	background-repeat: repeat-x;
	margin-top 30px;
	padding: 20px 0 20px 0;
	font-size: smaller;
	color: #442200;
}
.wrapper {
	margin: 0 auto 0 auto;
	width: 900px;
}
.keyvisual {
	margin: 20px 0 0 0;
}
.news_item {
	margin:  0 0 0 0;
}
.float img {
	float :left;
	padding-right: 1em;
}
.clear {
	clear: both;
}